<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>UserRegistration</servlet-name>
  	<display-name>UserRegistration</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.UserRegistration</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminLogin</servlet-name>
  	<display-name>AdminLogin</display-name>
  	<description></description>
  	<servlet-class>com.admin.servlet.AdminLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminLogout</servlet-name>
  	<display-name>AdminLogout</display-name>
  	<description></description>
  	<servlet-class>com.admin.servlet.AdminLogout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserLogin</servlet-name>
  	<display-name>UserLogin</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.UserLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>userLogout</servlet-name>
  	<display-name>userLogout</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.userLogout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddSpecialist</servlet-name>
  	<display-name>AddSpecialist</display-name>
  	<description></description>
  	<servlet-class>com.admin.servlet.AddSpecialist</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddDoctor</servlet-name>
  	<display-name>AddDoctor</display-name>
  	<description></description>
  	<servlet-class>com.admin.servlet.AddDoctor</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>updateDoctor</servlet-name>
  	<display-name>updateDoctor</display-name>
  	<description></description>
  	<servlet-class>com.admin.servlet.updateDoctor</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteDoctor</servlet-name>
  	<display-name>DeleteDoctor</display-name>
  	<description></description>
  	<servlet-class>com.admin.servlet.DeleteDoctor</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UserRegistration</servlet-name>
  	<url-pattern>/UserRegistration</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminLogin</servlet-name>
  	<url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminLogout</servlet-name>
  	<url-pattern>/AdminLogout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserLogin</servlet-name>
  	<url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>userLogout</servlet-name>
  	<url-pattern>/userLogout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddSpecialist</servlet-name>
  	<url-pattern>/AddSpecialist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddDoctor</servlet-name>
  	<url-pattern>/AddDoctor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>updateDoctor</servlet-name>
  	<url-pattern>/updateDoctor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteDoctor</servlet-name>
  	<url-pattern>/DeleteDoctor</url-pattern>
  </servlet-mapping>
</web-app>
